/resources/
/dev-resources/public/Fonts
/dev-resources/public/js/compiled
/dev-resources/public/js/min-compiled
/dev-resources/public/js/debug-compiled
/private-resources/
/target/
/fonts/
subprojects/quantum-ns/target/quantum-ns-dep.jar

figwheel_server.log
*-init.clj
.lein-env

subprojects/quantum-deploy

subprojects/quantum-java/target/quantum-java-dep.jar

.nrepl-port

subprojects/quantum-java/target/classes/META-INF/maven/quantum/java/pom.properties
subprojects/quantum-java/target/classes/quantum/core/data/Array.class
subprojects/quantum-java/target/quantum-java-dep.jar.asc
subprojects/quantum-java/pom.xml
src/.DS_Store

pom.xml

pom.xml.asc
