/spark-warehouse
/resources/
/resources-dev/public/Fonts
/resources-dev/public/js/compiled
/resources-dev/public/js/dev-compiled
/resources-dev/public/js/nr-compiled
/resources-dev/public/js/min-compiled
/resources-dev/public/js/debug-compiled
/resources-dev/public/js/test-compiled
/resources-dev/public/js/preserve-compiled
/resources-private/
/target/
/fonts/
subprojects/quantum-ns/target/quantum-ns-dep.jar

figwheel_server.log
out.log
*-init.clj
.lein-env

subprojects/quantum-deploy

subprojects/quantum-java/target/quantum-java-dep.jar

.nrepl-port

subprojects/quantum-java/target/classes/META-INF/maven/quantum/java/pom.properties
subprojects/quantum-java/target/classes/quantum/core/data/Array.class
subprojects/quantum-java/target/quantum-java-dep.jar.asc
subprojects/quantum-java/pom.xml
src/.DS_Store

pom.xml

pom.xml.asc

# MAC

*.DS_Store
.lein-repl-history

*.class
