/* ==================================================================== */
/* ========================= BEGIN FONT FACES ========================= */
/* ==================================================================== */
@font-face {
  font-family: 'Gotham Black';
  src: url('Gotham/Regular/Black.eot');                                                              /* IE9 Compat Modes */
  src: url('Gotham/Regular/Black.eot?#iefix')                           format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham/Regular/Black.woff')                                 format('woff'),              /* Modern Browsers */
       url('Gotham/Regular/Black.ttf')                                  format('truetype'),          /* Safari, Android, iOS */
       url('Gotham/Regular/Black.svg#0b358a21b3e426ee0635cfc34eab6e7e') format('svg');               /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham Black';
  src: url('Gotham/Regular/BlackIta.eot');                                                              /* IE9 Compat Modes */
  src: url('Gotham/Regular/BlackIta.eot?#iefix')                           format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham/Regular/BlackIta.woff')                                 format('woff'),              /* Modern Browsers */
       url('Gotham/Regular/BlackIta.ttf')                                  format('truetype'),          /* Safari, Android, iOS */
       url('Gotham/Regular/BlackIta.svg#e632b7d836810620ae95245b779fcd03') format('svg');               /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('Gotham/Regular/Bold.eot');                                                              /* IE9 Compat Modes */
  src: url('Gotham/Regular/Bold.eot?#iefix')                           format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham/Regular/Bold.woff')                                 format('woff'),              /* Modern Browsers */
       url('Gotham/Regular/Bold.ttf')                                  format('truetype'),          /* Safari, Android, iOS */
       url('Gotham/Regular/Bold.svg#6a327a217ddd10461b1acdc4d224fee0') format('svg');               /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('Gotham/Regular/BoldIta.eot');                                                              /* IE9 Compat Modes */
  src: url('Gotham/Regular/BoldIta.eot?#iefix')                           format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham/Regular/BoldIta.woff')                                 format('woff'),              /* Modern Browsers */
       url('Gotham/Regular/BoldIta.ttf')                                  format('truetype'),          /* Safari, Android, iOS */
       url('Gotham/Regular/BoldIta.svg#0831ed8e39b65ae233096554daef84db') format('svg');               /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('Gotham/Regular/Book.eot');                                                              /* IE9 Compat Modes */
  src: url('Gotham/Regular/Book.eot?#iefix')                           format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham/Regular/Book.woff')                                 format('woff'),              /* Modern Browsers */
       url('Gotham/Regular/Book.ttf')                                  format('truetype'),          /* Safari, Android, iOS */
       url('Gotham/Regular/Book.svg#7510147900d23fa3ad697e74bf146ea2') format('svg');               /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('Gotham/Regular/BookIta.eot');                                                              /* IE9 Compat Modes */
  src: url('Gotham/Regular/BookIta.eot?#iefix')                           format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham/Regular/BookIta.woff')                                 format('woff'),              /* Modern Browsers */
       url('Gotham/Regular/BookIta.ttf')                                  format('truetype'),          /* Safari, Android, iOS */
       url('Gotham/Regular/BookIta.svg#3306677ba9cb099a0feef3c60eec633b') format('svg');               /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham Light';
  src: url('Gotham/Regular/Light.eot');                                                              /* IE9 Compat Modes */
  src: url('Gotham/Regular/Light.eot?#iefix')                           format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham/Regular/Light.woff')                                 format('woff'),              /* Modern Browsers */
       url('Gotham/Regular/Light.ttf')                                  format('truetype'),          /* Safari, Android, iOS */
       url('Gotham/Regular/Light.svg#bf16822e282b4d885cff891f3a65335d') format('svg');               /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Gotham Light';
  src: url('Gotham/Regular/LightIta.eot');                                                              /* IE9 Compat Modes */
  src: url('Gotham/Regular/LightIta.eot?#iefix')                           format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham/Regular/LightIta.woff')                                 format('woff'),              /* Modern Browsers */
       url('Gotham/Regular/LightIta.ttf')                                  format('truetype'),          /* Safari, Android, iOS */
       url('Gotham/Regular/LightIta.svg#aabee2733b9e804ef6d288e82f81e260') format('svg');               /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  200;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('Gotham/Regular/Medium.eot');                                                              /* IE9 Compat Modes */
  src: url('Gotham/Regular/Medium.eot?#iefix')                           format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham/Regular/Medium.woff')                                 format('woff'),              /* Modern Browsers */
       url('Gotham/Regular/Medium.ttf')                                  format('truetype'),          /* Safari, Android, iOS */
       url('Gotham/Regular/Medium.svg#bdc473fae2f64b1c45b8886bcff81bae') format('svg');               /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('Gotham/Regular/MediumIta.eot');                                                              /* IE9 Compat Modes */
  src: url('Gotham/Regular/MediumIta.eot?#iefix')                           format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham/Regular/MediumIta.woff')                                 format('woff'),              /* Modern Browsers */
       url('Gotham/Regular/MediumIta.ttf')                                  format('truetype'),          /* Safari, Android, iOS */
       url('Gotham/Regular/MediumIta.svg#6a1b14fb9d14cad5a3984f81e4a1f481') format('svg');               /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham Thin';
  src: url('Gotham/Regular/Thin.eot');                                                              /* IE9 Compat Modes */
  src: url('Gotham/Regular/Thin.eot?#iefix')                           format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham/Regular/Thin.woff')                                 format('woff'),              /* Modern Browsers */
       url('Gotham/Regular/Thin.ttf')                                  format('truetype'),          /* Safari, Android, iOS */
       url('Gotham/Regular/Thin.svg#2612f69d108fca39cb109c03ae310193') format('svg');               /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Gotham Thin';
  src: url('Gotham/Regular/ThinIta.eot');                                                              /* IE9 Compat Modes */
  src: url('Gotham/Regular/ThinIta.eot?#iefix')                           format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham/Regular/ThinIta.woff')                                 format('woff'),              /* Modern Browsers */
       url('Gotham/Regular/ThinIta.ttf')                                  format('truetype'),          /* Safari, Android, iOS */
       url('Gotham/Regular/ThinIta.svg#9f6e686fd07256fdac59cb0e175a85ec') format('svg');               /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  200;
}

@font-face {
  font-family: 'Gotham Ultra';
  src: url('Gotham/Regular/Ultra.eot');                                                              /* IE9 Compat Modes */
  src: url('Gotham/Regular/Ultra.eot?#iefix')                           format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham/Regular/Ultra.woff')                                 format('woff'),              /* Modern Browsers */
       url('Gotham/Regular/Ultra.ttf')                                  format('truetype'),          /* Safari, Android, iOS */
       url('Gotham/Regular/Ultra.svg#68cdd64c623d5cd24b716ed9d9ff0958') format('svg');               /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham Ultra';
  src: url('Gotham/Regular/UltraIta.eot');                                                              /* IE9 Compat Modes */
  src: url('Gotham/Regular/UltraIta.eot?#iefix')                           format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham/Regular/UltraIta.woff')                                 format('woff'),              /* Modern Browsers */
       url('Gotham/Regular/UltraIta.ttf')                                  format('truetype'),          /* Safari, Android, iOS */
       url('Gotham/Regular/UltraIta.svg#46f98391d9844b845aff9f7c92eb29bd') format('svg');               /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham Extra Light';
  src: url('Gotham/Regular/XLight.eot');                                                              /* IE9 Compat Modes */
  src: url('Gotham/Regular/XLight.eot?#iefix')                           format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham/Regular/XLight.woff')                                 format('woff'),              /* Modern Browsers */
       url('Gotham/Regular/XLight.ttf')                                  format('truetype'),          /* Safari, Android, iOS */
       url('Gotham/Regular/XLight.svg#0c4f2df0933d5b98e3f6d69baea7ffe6') format('svg');               /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Gotham Extra Light';
  src: url('Gotham/Regular/XLightIta.eot');                                                              /* IE9 Compat Modes */
  src: url('Gotham/Regular/XLightIta.eot?#iefix')                           format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham/Regular/XLightIta.woff')                                 format('woff'),              /* Modern Browsers */
       url('Gotham/Regular/XLightIta.ttf')                                  format('truetype'),          /* Safari, Android, iOS */
       url('Gotham/Regular/XLightIta.svg#e869c4d98aaf6b162624de2d95b087e9') format('svg');               /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  200;
}